<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>What time is it?</div>
    <p>
      Telling time without a clock is a important life skill. Whether you're out camping or want to be rugged like Crocodile Dundee. You can do this by looking at the sky! And if you're near a computer or iphone, you can use this app! I've trained a neural net with images of Pacifica Pier. To try it out you can use some of my pictures <a href = "https://drive.google.com/open?id=1RlWvWmMUU05wAH6f9IMntr_1pBQ3sKG4" target="_blank">here</a>. The first number in the filename denotes the hour of the day. You can also try uploading your own image and see how it works. If you're on a smartphone, the upload image button should open your camera app.
    </p>

    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Upload Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>

      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze Image</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>

    <p>
        More info on my blog <a href="http://www.jimmysastra.com/blog/2020/01/12/what-time-is-it/">here</a>.
    </p>
    <p>
        Props to Jeremy Howard. I learnt everything here by following his fast.ai tutorials <a href="https://www.fast.ai/">here</a>.	
    </p>
  </div>
</div>
</body>
</html>
